/* .log-in-btn {
    color: white;
    background-color: "transparent";
    border:1px solid white;
    font-weight:bold;
    font-size:14px;
    padding:7px 20px;
    border-radius:3px;
    margin-right:10px;
} */

/* .log-in-btn:hover { 
    background-color: #1DBF73;
    border: 1px solid #1DBF73;
} */