/* TODO Add site wide styles */

* {
    font-family: Macan, "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

div {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

body, ul, div, nav {
    padding: 0px;
    margin: 0px;
}

body {
    /* background-color: #fdfbf7; */
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
