.navbar-container {
    padding: 0px 100px;
    background:transparent;
}

.navbar__header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo-dot {
    font-size: 8px;
    color: #1DBF73;
}

.navbar__logo-name {
    font-size: 36px;
    font-weight: bold;
}

.navbar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-img-btn {
    margin-left: 20px;
    height: 35px;
    width: 35px;
    padding: 0px;
    border-radius: 50%;
    border: none;
}

.profile-img-btn img {
    /* object-fit: contain; */
    height: 35px;
    width: 35px;
    border-radius: 50%;
}