.main-profile-wrapper {
    background-color: #F7F7F7;
}

/*------Global-------------------------------------------------------*/

.hidden {
    display: none;
}

hr {
    border-bottom: 1px solid #ddd;
    margin-top: 0px;
}

/*------homepage-------------------------------------------------------*/

.homepage_container {
    margin: auto;
    max-width: 1400px;
    margin-top: 50px;
    padding: 16px 16px 64px;
    display: flex;
    flex-direction: column;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
}