.main-profile-wrapper {
    background-color: #F7F7F7;
}

/*------Global-------------------------------------------------------*/

.hidden {
    display: none;
}

/*------NAV-------------------------------------------------------*/

.navbar-container {
    padding: 0px 100px;
    background: transparent;
}

.navbar__header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.navbar__logo-dot {
    font-size: 8px;
    color: #1DBF73;
}

.navbar__logo-name {
    font-size: 36px;
    font-weight: bold;
}

.navbar-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-img-btn {
    margin-left: 20px;
    height: 35px;
    width: 35px;
    padding: 0px;
    border-radius: 50%;
    border: none;
}

.profile-img-btn img {
    /* object-fit: contain; */
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

/*------NAV-Dropdown-------------------------------------------------------*/

.profile-drop-down {
    position: absolute;
    height: 270px;
    width: 200px;
    border: 1px solid #7A7D85;
    top: 70px;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
}

.profile-drop-down__nav-link {
    font-size: 16px;
    color: #7A7D85;
    padding: 5px 0px;
    text-decoration: none;
}