.packages-info-main {

}

.packages-info-headers {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: bold;
}

.packages-info-header {
    width: 100%;
    text-align: center;
    padding: 16px;
    border: 1px solid #ddd;
    color: #7A7D85;
    background-color: #FAFAFA;
}

.packages-info-header-selected {
    width: 100%;
    text-align: center;
    padding: 16px;
    border: 1px solid #ddd;
    color: #1DBF73;
    border-bottom: 2px solid #1DBF73;
    background-color: white;
}

.service-request-submit-form {
    padding-top: 20px;
}

.service-request__content {
    padding: 12px 24px 0px 24px;
}

.service-request__title-price {
    display: flex;
    justify-content: space-between;
    color: #404145;
    height: 48px;
}

.service-request__package-description {
    margin: 6px 0px 12px 0px;
    color: #62646A;
    height: 63px;
    font-size: 14px;
}

.service-request__additional-info {
    display: flex;
    color: #62646A;
    font-size: 14px;
    font-weight: bold;
    height: 24px;
}

.service-request__feature {
    list-style: none;
    padding: 3px;
    font-size: 14px;
    color: #95979D;
    line-height: 20px;
    margin-top: 7px;
}

.service-request__feature>i {
    margin-right: 10px;
}

.service-request__submit-btn {
    width: 100%;
    background-color: #1DBF73;
    color: white;
    border: 1px solid #1DBF73;
    border-radius: 4px;
    height: 42px;
    padding: 12px 24px;
    font-size: 16px;
    /* font-weight: bold; */
    margin-top: 15px;
    margin-bottom: 20px;
}

.service-request__submit-btn:hover {
    background-color: #17aa66;
    color: white;
    border: 1px solid #17aa66;
}
