/*------NAV-------------------------------------------------------*/

.navbar-container-home {
    margin: auto;
    background: white;
}

.navbar__header-home {
    padding: 0px 32px;
    margin: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    max-width: 1400px;
}

.navbar__logo-dot {
    font-size: 8px;
    color: #1DBF73;
}

.navbar__logo-name-home {
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    color: #4e4e4e;
}

.navbar-buttons-home {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-img-btn {
    margin-left: 20px;
    height: 35px;
    width: 35px;
    padding: 0px;
    border-radius: 50%;
    border: none;
}

.profile-img-btn img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.navbar__categories-home {
    display: flex;
    justify-content: space-between;
    height: 40px;
    width: 100%;
    max-width: 1400px;
    padding: 0px 32px;
    margin: auto;
    color: #62646a;
    font-size: 16px;
    background-color: white;
    font-size: 16px;
}

.navbar__category-home {
    padding: 8px 0px;
    text-decoration: none;
    color: #8a8c92;
    font-weight: 400;
}

.navbar__category-home:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    margin-top: 12px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .2s ease;
}

.navbar__category-home:hover:after {
    width: 100%;
    background: #1DBF73;
}

/*------NAV-Dropdown-------------------------------------------------------*/

.profile-drop-down-home {
    position: absolute;
    height: 270px;
    width: 200px;
    border: 4px solid #ddd;
    border-radius: 3px;
    top: 75px;
    right: 30px;
    display: flex;
    flex-direction: column;
    padding: 5px 15px;
    background: white;
    z-index: 1;
}


.profile-drop-down-home:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #ddd transparent;
    top: -22px;
    left: 170px;
}

.profile-drop-down__nav-link {
    font-size: 16px;
    color: #7A7D85;
    padding: 5px 0px;
    text-decoration: none;
}