.navbar-container {
    margin: 0px 100px;
}

.navbar__header {
    margin: 20px 0px;
}

.navbar__logo-dot {
    font-size: 8px;
    color: #1DBF73;
}

.navbar__logo-name {
    font-size: 36px;
    font-weight: bold;
}